$color1: gray;
$color2: #eee;
$color3: #ec6f66;
$color4: white;
$color5: #666;

@mixin border-radius($radius, $border-color) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
	border: $border-color 1px dashed;
}

/*With box-sizing: border-box
Borders and padding are drawn inside the set width of your content. The margin is drawn outside.*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
	margin: 0px;
	padding: 0px;
  font-size: 22px;
  color: $color5;
}

body {
}

.canvas {
  background-image: url('images/background-image-179d.jpg')
}

.container, #header {
	margin: auto;
	max-width: 1216px;
  height: 100%;
	width: 90%;
  background-color: $color4;
  @include border-radius(0px, black);
}

/*.container {
  padding: 0 25px;
}*/

.column {
  float: left;
  margin-left: 5%;
}

.column:first-child {
  margin-left: 0;
}

.column.full {
  width: 100%;
}
  
.column.two-thirds {
  width: 65%;
}
  
.column.half {
  width: 47.5%;
}
 
.column.one-third {
  width: 30%;
}
 
.column.one-fourth {
  width: 21.25%;
}

/*Columns are wrapped in rows to prevent other elements from stacking next to them, otherwise know as clearing issues. Rows are cleared with either a clearfix or overflow: hidden*/
.row {
  overflow: hidden;
  padding: 30px;
}

/*.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}*/

#header {	height: 123px; }

#banner {	height: 100%; }

#banner img {
  margin: 0 auto;
  display: block;
  opacity: 50%;
}

#calculator-title {
  margin-top: 30px;
  font-size: 28px;
  color: $color1;
  text-align: left;
}

#building-size {
  text-align: center;
  border: 1px dashed gray;
}

#energy-type {
  text-align: center;
  border: 1px dashed gray;
}
#energy-type img{ max-width: 180px; }



